<div class="form-wrapper">

<h1>Creating a new channel</h1>

<div class="form-content">
  <%= simple_form_for (@channel) do |f| %>
    <%= f.input :name %>
    <%= f.input :url %>
    <%= f.input :gender, :as => :select, :collection => Channel::GENDER, include_blank: false %>
    <%= f.simple_fields_for :age do |ff| %>
      <%= ff.input :less_12, label: "Less than 12" %>
      <%= ff.input :age_12_18, label: '12-18' %>
      <%= ff.input :age_19_25, label: '19-25' %>
      <%= ff.input :age_26_35, label: '26-35' %>
      <%= ff.input :age_36_45, label: '36-45' %>
      <%= ff.input :age_46_55, label: '46-55' %>
      <%= ff.input :age_56_65, label: '56-65' %>
      <%= ff.input :more_65, label: 'More than 65' %>
    <% end %>
    <%= f.submit "Create channel", class: "btn btn-primary w-100" %>
    <%= link_to "Cancel", dashboard_path, class: "btn btn-danger w-100 my-2" %>
  <% end %>
</div>

</div>
