<div class="new-contract-wrapper">

  <div class="new-contract-container">

    <div class="new-contract-banner">
      <%= image_tag "default.png"%>
    </div>

    <div class="new-contract-content">
      <div class="row">

        <div class="col-4">
          <div class="new-contract-invoice">
            <h7>INVOICE 2019/4</h7>
            <br>
            <br>
            <h6 style="color: rgb(30,126,165);"> SponsOP <br> BE0656.556.245</h6>
            <br>
            <h7>Cantersteen 12, <br> 1000 Bruxelles, <br> Belgium</h7>
            <br>
            <br>
            <h7>IBAN : BE45 2345 5634 0678</h7>
            <br>
          </div>
        </div>

        <div class="col-8">
            <div class="new-contract-form">
              <p style="font-weight: bold">New contract for the campaign:</p>
              <form action="/contracts" method="post">
                <select name="campaign">
                  <%= @campaigns.each do |campaign| %>
                    <option value="<%= campaign.id %>"><%= campaign.name %></option>  %>
                  <% end %>
                </select>
                <br><br>
                <p style="font-weight: bold">Description of the offer:</p>
                <textarea type="text" name="description" style="width:75%"></textarea>
              <br>

              <br>
              <p>Thanks for your trust, it is a pleasure working with you.</p>
              <p>Best regards,</p>
              <p>The SponsOp Team</p>
              <br>

              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
              <input type="hidden" name="chat_room_id" value="<%= @chat_room.id %>"/>
              <button class="btn btn-primary w-75" type="submit" style="text-transform: capitalize">Offer contract</button>
              </form>
              <%= link_to "Cancel", dashboard_path, class: "btn btn-secondary w-75 my-2" %>
            </div>
        </div>

      </div>
    </div>

  </div>

</div>

