<div class="dashboard-banner">
  <h1 style="text-transform: uppercase"><%= current_user.company %></h1>
  <h2 class="animated bounce"><%= current_user.first_name %>'s Dashboard</h2>
</div>

<div class="line-separator"><div class="line"></div></div>

<div class="dashboard-title">
  <h2>Current campaigns -<%= link_to "Add one", new_campaign_path, class: "new-campaign-button"%></h2>
</div>

<div class="dashboard-container">

  <% @campaigns.each do |campaign| %>
    <%= link_to campaign_path(campaign), class: 'link-to' do %>
      <div class="campaign-card">
        <div class="campaign-card-content">
          <h3 style="font-size: 20px;"><%= campaign.name %></h3>
          <p><%= campaign.description %></p>
          <p><%= campaign.period %></p>
        </div>
        <div class="campaign-card-actions">
          <%= link_to edit_campaign_path(campaign), class: 'link-to edit' do %><i class="far fa-edit"></i><% end %>
          <%= link_to campaign_path(campaign), method: :delete, data: { confirm: "Are you sure?" }, class: 'link-to delete' do %><i class="fas fa-trash"></i><% end %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

<div class="line-separator">
  <div class="line"></div>
</div>
