<div class="dashboard-title">
  <h2>Current contracts</h2>
</div>

<div class="dashboard-container">
        <% @contracts.each_with_index do |contract, index| %>
            <%= link_to contract_path(contract), class: 'link-to' do %>
          <div class="contract-card">
            <div class="contract-card-content">
              <p> Contract number <%= index + 1 %></p>
              <h3 style="font-size: 20px;"><%= contract.name %></h3>
              <p><%= contract.description %></p>
              <p><%= contract.address %></p>
            </div>
            <% end %>
            <div class="contract-actions">
            <% if contract.validated == "Confirmed"%>
              <p style="font-weight: bold; color: green">Contract accepted</p>
            <% elsif contract.validated == "Pending" %>
              <p style="font-weight: bold; color: orange">Waiting for response</p>
            <% else %>
              <p style="font-weight: bold; color: red">Contract accepted</p>
            <% end %>
          </div>
            </div>
         <% end %>
</div>
