<div class="dashboard-banner">
  <h1 style="text-transform: uppercase"><%= current_user.company %></h1>
  <h2 class="animated bounce"><%= current_user.first_name %>'s Dashboard</h2>
  <%= link_to new_campaign_path do %><i class="fas fa-plus new-campaign-button"></i><% end %>
</div>

<div class="dashboard-title">
  <h2>Current campaigns</h2>
</div>

<div class="dashboard-container">

  <% @campaigns.each do |campaign| %>

    <% end_date = campaign.period.split('to').last.strip %>
    <% user_date = Date.today.to_s %>

    <% if end_date > user_date %>
      <%= link_to campaign_path(campaign), class: 'link-to' do %>
        <div class="campaign-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= campaign.photo %>
)">

          <div class="campaign-card-content">
            <h3 style="font-size: 20px;"><%= campaign.name %></h3>
            <p><%= campaign.description %></p>
            <p><%= campaign.period %></p>
          </div>

          <div class="campaign-card-actions edit">
            <%= link_to edit_campaign_path(campaign), class: 'link-to edit' do %><i class="far fa-edit"></i><% end %>
          </div>
          <div class="campaign-card-actions delete">
            <%= link_to '+', campaign_path(campaign), method: :delete, data: { confirm: "Are you sure?" }, class: 'link-to delete' %>
          </div>

        </div>
      <% end %>
    <% end %>
  <% end %>

</div>

<div class="line-separator">
  <div class="line"></div>
</div>

<div class="dashboard-title">
  <h2>Previous campaigns</h2>
</div>

<div class="dashboard-container">

  <% @campaigns.each do |campaign| %>

    <% end_date = campaign.period.split('to').last.strip %>
    <% user_date = Date.today.to_s %>

    <% if end_date < user_date %>
      <%= link_to campaign_path(campaign), class: 'link-to' do %>
        <div class="campaign-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= campaign.photo %>
); background-size:cover;">

          <div class="campaign-card-content">
            <h3 style="font-size: 20px;"><%= campaign.name %></h3>
            <p><%= campaign.description %></p>
            <p><%= campaign.period %></p>
          </div>

          <div class="campaign-card-actions edit">
            <%= link_to edit_campaign_path(campaign), class: 'link-to edit' do %><i class="far fa-edit"></i><% end %>
          </div>
          <div class="campaign-card-actions delete">
            <%= link_to '+', campaign_path(campaign), method: :delete, data: { confirm: "Are you sure?" }, class: 'link-to delete' %>
          </div>

        </div>
      <% end %>
    <% end %>
  <% end %>

</div>

