<div class="dashboard-title">
  <h2>Current contracts</h2>
</div>

<div class="dashboard-container">

  <% @contracts.order(created_at: :desc).each_with_index do |contract, index| %>

    <div class="contract-card">

      <img src="<%= contract.users.where(is_brand: false).first.avatar  %>" class="avatar-large" alt="">

      <div class="contract-card-content">
        <p><small>Contract #<%= @contracts.length - index %></small></p>
        <p><strong><%= contract.users.where(is_brand: false).first.first_name %></strong></p>
        <p><%= contract['campaign'] %> - <%= contract.date %></p>

      </div>

      <div class="contract-card-actions">
        <% if contract.validated == "Confirmed"%>
          <p style="font-weight: bold; color: green">Contract accepted</p>
        <% elsif contract.validated == "Pending" %>
          <p style="font-weight: bold; color: orange">Waiting for response</p>
        <% else %>
          <p style="font-weight: bold; color: red">Contract declined</p>
        <% end %>
      </div>

    </div>

  <% end %>

</div>
