<%= render 'shared/navbar' %>

<% if @user.is_brand %>
  <%= render 'shared/brand_dashboard' %>
<% else %>
  <%= render 'shared/creator_dashboard' %>
<% end %>


  <div class="line-separator">
    <div class="line"></div>
  </div>


<% if current_user.is_brand == true %>
<%= render 'shared/brand_contracts' %>
<% else %>
<%= render 'shared/creator_contracts' %>
<% end %>
