<%= render 'shared/navbar' %>

<h1>INFO APPEARING TEMPORARILY</h1>
<h1>WILL SOON BE DELETED TO RENDER RESPECTIVE DASHBOARDS</h1>
<p>First name: <%= current_user.first_name %></p>
<p>Last name: <%= current_user.last_name %></p>
<p>Is brand? <%= current_user.is_brand %></p>
<p>Company: <%= current_user.company %></p>
<p>Email: <%= current_user.email %></p>
<p>Avatar: <%= current_user.avatar %></p>

<% if current_user.is_brand %>
  <%= render 'shared/brand_dashboard' %>
<% else %>
  <%= render 'shared/creator_dashboard' %>
<% end %>
