<h1>Here will be the dashboards rendering partials for either brands or creators</h1>
<p>First name: <%= current_user.first_name %></p>
<p>Last name: <%= current_user.last_name %></p>
<p>Is brand? <%= current_user.is_brand %></p>
<p>Company: <%= current_user.company %></p>
<p>Email: <%= current_user.email %></p>
<p>Avatar: <%= current_user.avatar %></p>

<%= link_to "add a campaign", new_campaign_path %>
