<%= render 'shared/navbar' %>
<!--<%= link_to "NEW USER", new_user_registration_path, class: 'btn btn-success' %>
<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>

<%= javascript_pack_tag 'home' %>
-->



  <div class="banner" style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1556764900-fa065610b0e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
    <div class="container">
      <div class="title">
      <h1>Sponsop</h1>
      </div>

      <div class="content">
      <p> influencer marketing for Everyone </p>
      </div>
    </div>
  </div>


    <div class="container">
      <div class="features_brand">
      <h3> Brand Feature </h3>
      </div>
    <div class="row">

      <div class="col-sm-4" style="transition-delay: 250ms;">
        <div class="icon">
          <img src="https://img.icons8.com/wired/64/000000/search.png">
        </div>
        <h3> Discovery & Transparency </h3>
        <p> Find the most relevant influencers for your
        brand or company with complete transparency on their profile (audience statistics, portfolio, past reviews).
        </p>
        </div>


        <div class="col-sm-4" style="transition-delay: 250ms;">
        <div class="icon">
          <img src="https://img.icons8.com/wired/64/000000/handshake.png">
         </div>
          <h3> Collaborate </h3>
          <p> Discuss directly with the influencer and agree on the terms of the collaboration.
          </p>
        </div>


        <div class="col-sm-4" style="transition-delay: 250ms;">
        <div class="icon">
          <img src="https://img.icons8.com/wired/64/000000/statistics.png">
        </div>
          <h3> Track your growth</h3>
          <p> Follow the performance of all the publictions made by all influencers you are working with in real time (impressions, likes, comments, etc.)
          </p>

      </div>
    </div>
<hr>

  <div class="our_brands">
    <div class="static-container">
      <h3>A few brands we work with</h3>
      <div class="logo-list">

    <div style="transition-delay: 100ms;">
    <img class="picture_logo" src="https://dl.be/uploads/2019/08/icon-512x512.png"></div>
    <div style="transition-delay: 200ms;">
    <img class= "picture_logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/ICE-WATCH-logo.svg/315px-ICE-WATCH-logo.svg.png" alt="canon">
    </div>
    <div style="transition-delay: 300ms;">
    <img class= "picture_logo" src="https://www.schoenenverduyn.be/Cached/108052/resize/2000x400/Veja.png" alt="canon" alt="sony">
    </div>
    <div style="transition-delay: 400ms;">
    <img class= "picture_logo"  src="https://seeklogo.com/images/C/Cote_d_Or-logo-29637A7AF2-seeklogo.com.png" alt="canon">
      </div>
      <div style="transition-delay: 400ms;">
    <img class= "picture_logo"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Nivea_Logo.png/776px-Nivea_Logo.png" alt="canon">
      </div>
    </div>
  </div>

<hr>

 <div class="features_creators">

  <h3> Creators feature's </h3>
  </div>

    <div class="row">
      <div class="col-sm-4" style="transition-delay: 250ms;">
        <div class="icon">
          <img src="https://img.icons8.com/dotty/80/000000/money.png">
        </div>
        <h3> Earn Money </h3>
        <p> Get contacted by the most relevant brands for your audience with complete transparency on what they have to offer ( campaign, audience, portfolio, reviews)
        </p>
      </div>

      <div class="col-sm-4" style="transition-delay: 250ms;">
         <div class="icon">
          <img src="https://img.icons8.com/wired/64/000000/statistics.png">
         </div>
         <h3> collaborate </h3>
          <p> Discuss directly with the brand and agree on the terms of the collaboration.
          </p>
      </div>


      <div class="col-sm-4" style="transition-delay: 250ms;">
        <div class="icon">
          <img src="https://img.icons8.com/ios/80/000000/person-growth.png">
        </div>
          <h3> Proffesional growth </h3>
          <p> Turn your passion into a business by connecting you with brands looking to create amazing branded content.</p>
      </div>
    </div>
  </div>

<hr>
  <div class="reviews">
        <h3> they recomend us </h3>
      </div>
  <div class="testimonials">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
      <div class="notification-content p-2">
      <h5>Antoine - Product Manager at Côte d’Or</h5>
      <p>SponsOp was the deal we were waiting for, we reached 10 different influencer and our summer 2019 campaign in Rome went crazy!</p>
      </div>

</div>

<div class="testimonials">
  <img src='https://i4.sndcdn.com/artworks-000161972087-ges84i-t120x120.jpg' class="avatar-large"/>
  <div class="notification-content p-2">
    <h5>Geraldine - CEO at ICE WATCH</h5>
    <p>Thanks to SponsOp we reached our marketings goals and thanks to the clear interface we have a clear view of how our campaigns re growing.</p>
  </div>
</div>


  <div class="testimonials">
  <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
  <div class="notification-content p-2">
    <h5>Arnaut - Shoes Influencer</h5>
    <p>With SponsOp I paired up with Veja for their last shoe collection and everything went smooth. I set my post rate, they accepted, they sent me their items and I shared it with my community.</p>
  </div>
</div>

</div>


  <div class="about">
    <div class="row">
      <div class="col-sm-4">
        <div class="video">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="video">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="video">
        </div>

      </div>
  </div>


</div>
  </div>

</div>

<%= render 'shared/footer' %>

