<%= render 'shared/navbar' %>
<%= link_to "NEW USER", new_user_registration_path, class: 'btn btn-success' %>
<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>

<%= javascript_pack_tag 'home' %>



  <div class="banner">
    <div class="title">
      <h1>Sponsop</h1>
    </div>
      <div class="content">
        <p> influencer marketing for Everyone </p>
      </div>
    </div>
    <div class="container">

  <div class="features_brand">
    <div class="row">
      <div class="col-sm-4" style="transition-delay: 250ms;">
        <div class="icon">
        </div>
        <h3> Discovery & Transparency </h3>
        <p> Find the most relevant influencers for your
        brand or company with complete transparency on their profile (audience statistics, portfolio, past reviews).
        </p>
      </div>

      <div class="col-sm-4" style="transition-delay: 250ms;">
         <div class="icon">
         </div>
          <h3> Collaborate </h3>
          <p> Discuss directly with the influencer and agree on the terms of the collaboration.
          </p>
      </div>


      <div class="col-sm-4" style="transition-delay: 250ms;">
        <div class="icon">
        </div>
          <h3> Track your growth</h3>
          <p> Follow the performance of all the publications made by all influencers you are working with in real time (impressions, likes, comments, etc.)
          </p>
      </div>
    </div>
  </div>

  <div class="testimonials">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
      <div class="notification-content">
      <p><small>14th January</small></p>
      <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
      </div>


</div>

<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
  <div class="notification-content">
    <p><small>9th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>

  <div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
  <div class="notification-content">
    <p><small>9th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>


</div>
  </div>

  <div class="features_creators">
    <div class="row">
      <div class="col-sm-4" style="transition-delay: 250ms;">
        <div class="icon">
        </div>
        <h3> Earn Money </h3>
        <p> Get contacted by the most relevant brands for your audience with complete transparency on what they have to offer ( campaign, audience, portfolio, reviews)
        </p>
      </div>

      <div class="col-sm-4" style="transition-delay: 250ms;">
         <div class="icon">
         </div>
          <h3> Collaborate </h3>
          <p> Discuss directly with the brand and agree on the terms of the collaboration.
          </p>
      </div>


      <div class="col-sm-4" style="transition-delay: 250ms;">
        <div class="icon">
        </div>
          <h3> Proffesional growth
          </h3>
          <p> Turn your passion into a business by connecting you with brands looking to create amazing branded content.</p>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="row">
      <div class="col-sm-4">
        <div class="video">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="video">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="video">
        </div>

      </div>
  </div>

  <div class="our_brands">
    <div class="static-container">
  <h3>A few brands we work with</h3>
  <ul class="logo-list">
    <li style="transition-delay: 0ms;">
    <img src="/assets/img/static/canon.png?aba3ed5b824cadfe" alt="canon">
    </li>
    <li style="transition-delay: 100ms;">
    <img src="/assets/img/static/activision.png?c072d23fd52cbba9" alt="Activision"></li>
    <li style="transition-delay: 200ms;">
    <img src="/assets/img/static/adidas.png?7ef38cd1e0dee39a" alt="adidas">
    </li>
    <li style="transition-delay: 300ms;">
    <img src="/assets/img/static/sony.png?545689e5320e8728" alt="sony">
    </li>
    <li style="transition-delay: 400ms;">
    <img src="/assets/img/static/conair.png?8fe76b7a4a93b538" alt="conair">
    </li>
    <li style="transition-delay: 500ms;">
    <img src="/assets/img/static/seriously.png?26bc891ae539773d" alt="serioulsy">
    </li>
  </ul>
</div>
  </div>

</div>

<%= render 'shared/footer' %>

