<div class="channel-form-wrapper">

  <h1>Create a new campaign</h1>

  <%= simple_form_for (@campaign), remote: true do |f| %>

    <div class="channel-form-content create-campaign active">

        <h3>About your new campaign</h3>

        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input (:period),
                  as:'string',
                  input_html: {
                    class: "datepicker"
                  }%>
        <p id="next" class="btn btn-primary w-100">Next</p>
        <%= link_to "Cancel", dashboard_path, class: "btn btn-danger w-100 my-2" %>
    </div>

    <div class="channel-form-content create-campaign">
      <h3>Who are your targetted consumers?</h3>
      <%= f.input :gender, :as => :select, :collection => Campaign::GENDER, include_blank: false %>
      <div class="form-group">
        <label class="required">Age range(s)<abbr title="required">*</abbr> </label>
        <%= f.simple_fields_for :age do |ff| %>
          <%= ff.input :less_12, label: "Less than 12" %>
          <%= ff.input :age_12_18, label: "12-18" %>
          <%= ff.input :age_19_25, label: "19-25" %>
          <%= ff.input :age_26_35, label: "26-35" %>
          <%= ff.input :age_36_45, label: "36-45" %>
          <%= ff.input :age_46_55, label: "46-55" %>
          <%= ff.input :age_56_65, label: "56-65" %>
          <%= ff.input :more_65, label: "More than 65" %>
        <% end %>
      </div>
      <%= f.submit "Next", class: "btn btn-primary w-100" %>
      <%= link_to "Cancel", dashboard_path, class: "btn btn-danger w-100 my-2" %>
    </div>

  <% end %>

</div>
