<%= render 'shared/navbar' %>

<h1>Channels matching with your campaign</h1>

  <div class="channel-cards">
    <% if @results.empty? %>
    <p>No matches found...</p>
    <% else %>
      <p>Choose your campaign influencers, COUNT: <%= @results.length %> </p>
        <% @results.each do |channel| %>

        <div class="channel-card">
          <img src="<%=channel.user.avatar  %>" alt="" class="avatar avatar-large ">
          <a href="/" class="add-influencer"> Add to campaign</a>
          <p>Channel name: <%= channel.name %></p>
          <p>Influencer: <%= channel.user.first_name %> <%= channel.gender %></p>
          <a href="channel.url">More info about the channel</a>
        </div>
        <% end %>
    <% end %>
  </div>



