<!-- THIS IS THE RESULTS PAGE - WHEN A BRAND CLICKS ON A CAMPAIGN !!! -->

<%= render 'shared/navbar' %>

<div class="results-wrapper">

  <h2><%= @results.length %> channels matching your campaign's criteria</h2>

  <div class="results-container">

    <div class="cards-filters">
      <%= simple_form_for (@campaign) do |f| %>
        <h3>Change your campaign's filters</h3>
        <%= f.input :gender, :as => :select, :collection => Campaign::GENDER, include_blank: false, label: "• Gender:" %>
        <br>
        <div class="form-group">
          <label>• Age range(s):</label>
          <%= f.simple_fields_for :age do |ff| %>
            <%= ff.input :less_12, label: "Less than 12" %>
            <%= ff.input :age_12_18, label: "12-18" %>
            <%= ff.input :age_19_25, label: "19-25" %>
            <%= ff.input :age_26_35, label: "26-35" %>
            <%= ff.input :age_36_45, label: "26-45" %>
            <%= ff.input :age_46_55, label: "46-55" %>
            <%= ff.input :age_56_65, label: "56-65" %>
            <%= ff.input :more_65, label: "More than 65" %>
          <% end %>
        </div>
        <br>
        <%= f.association :interests,  as: :check_boxes, include_blank: false, label: "• Center of interests:"%>
        <br>
        <%= f.submit "Submit", class: "btn btn-primary w-100" %>
      <% end %>
    </div>

    <div class="channels-cards">
      <% @results.each do |channel| %>

        <div class="channel-card">

          <img src="<%= channel.user.avatar %>" alt="" class="channel-card-avatar">

          <div class="channel-user-info">
            <p><%= channel.user.first_name %> <%= channel.user.last_name %></p>
          </div>

          <a class="channel-link" href="<%= channel.url %>" target="_blank">
            <div class="channel-card-url">
              <div>
                <% if channel.url.include? 'youtube' %>
                  <%= image_tag "youtube.png", class: "channel-card-logo"%>
                <% elsif channel.url.include? 'instagram' %>
                  <%= image_tag "instagram.png", class: "channel-card-logo"%>
                <% elsif channel.url.include? 'twitch' %>
                  <%= image_tag "twitch.png", class: "channel-card-logo"%>
                <% elsif channel.url.include? 'facebook' %>
                  <%= image_tag "facebook.png", class: "channel-card-logo"%>
                <% end %>
              </div>
              <p><span>&nbsp;/</span><%= channel.name %></p>
            </div>
          </a>
          <%= link_to "Enter into contact", new_chat_room_path(channel)  %>
          <%= link_to "More info", channel_path(channel), class: "channel-more-info" %>
          <!-- <a href="#" class="channel-send-message btn btn-primary">Send a message</a> -->
        </div>

      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'home' %>
